/*  for Trial Multi Page */

html {
    /*Enter HTML formatting here*/
    font-family: 'Lekton', Helvetica, Arial, sans-serif;
    font: black;
}

* {
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
}

.bigbox {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0vh;
    left: 0vw;
    font-size: 1rem;
}

h2 {
    display: flex;
    margin-top: 40vmin;
    float: right;
}

a, p {
    font-kerning: 1rem;
}

.bigbox box1 {
    height: 20vmin;
    width: auto;
    padding-left: 10vmin;
    padding-right: 10vmin;
    display: flex;
    position: absolute;
    top: 5vh;
    left: 5vw;
    text-align: center;
    align-items: center;
    z-index: 1;
}

svg {
    fill: red;
    width: 5vmin;
    min-width: 30px;
    display: flex;
    z-index: 0;    
}

img {    
    min-height: 30px;
    height: 7vmin;
    fill: red;
}



/*
svg {
    position: absolute;
    display: block;
    min-width: 80vmin;
    max-width: 80vmin;
    max-height: 80vmin;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vmin;    
}
*/