.tax-calculator {
  padding: 6px;
}

.flex-row {
  display: flex;
}

.spaced-box {
  margin: 0 1rem;
}
.spaced-box p {
  margin: 0.25rem 0;
}

.tax-calculator-table {
  border-collapse: collapse;
  margin: 1rem;
}
.tax-calculator-table td,
.tax-calculator-table th {
  /* border-bottom: 1px solid blue; */
  padding: 0 1rem;
  text-align: right;
}

.countries-button {
  padding: 6px;
}
.countries-button.selected {
  background-color: rgb(255, 255, 255);
  text-decoration: underline;
}
