html {
    font-family: 'Lekton', Helvetica, Arial, sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('face01.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2 {
  display: block;
  text-align: center;
}

#a-red-rocket {
    width: 5vmin;
    height: 5vmin;
    display: flex;
    position: fixed;
    bottom: 5vmin;
    right: 5vmin;
    align-items: center;
    justify-content: center;
}

.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#red-rocket {
    fill: red;
    width: 90%;
}

#face-spacer {
    height: 100vh;
}

#container {
    height: auto;
    background: linear-gradient(transparent, rgba(255, 255, 255, 0.82) 20vh);
    padding-top: 30vh;
}

#card-space {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.card {
    width: 300px;
    height: 300px;
    background: white;
    margin: 10px;
    padding: 10px;
    border: solid 1px hsl(0, 0%, 90%);
    box-shadow: hsl(0, 0%, 72%) 2px 2px 3px;
}



.card-image-link {
    display: block;
    width: 100%;
}

.card-image-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
}

.card-image {
    height: 100%;
}

/* #pic-gluey-jots {
    width: 100%;
    height: 150px;
    background: url('./gluey-jots.png') white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 3px white;
*/

.card-caption {
    margin-top: 5px;
}