html {
    font-family: 'Lekton', Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.face-bg {
    display: block;
    position: absolute;
    float: center;
}

h1, h2 {
  display: block;
  text-align: center;
}

#a-red-rocket {
    width: 5vmin;
    height: 5vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 5vmin;
    right: 5vmin;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.svg-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

#red-rocket {
    fill: red;
    width: 90%;
}

#face-spacer {
    height: 100vh;
}

#container {
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20vh, rgba(255, 255, 255, 0.82)));
    background: linear-gradient(transparent, rgba(255, 255, 255, 0.82) 20vh);
    padding-top: 30vh;
}

#card-space {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 1;
}

.card {
    width: 300px;
    height: 300px;
    background: lightgrey;
    margin: 10px;
    padding: 10px;
    border: solid 1px hsl(0, 0%, 90%);
    -webkit-box-shadow: hsl(0, 0%, 72%) 2px 2px 3px;
            box-shadow: hsl(0, 0%, 72%) 2px 2px 3px;
}



.card-image-link {
    display: block;
    width: 100%;
}

.card-image-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 150px;
}

.card-image {
    height: 100%;
}

.card-caption {
    margin-top: 5px;
}