.quarter-split {
  border: 1px solid purple;
  height: calc(100% - 21px - 4px);
  display: flex;
  /* justify-content: space-evenly;
    align-items: space-evenly; */
  flex-wrap: wrap;
  position: relative;
}

.quarter-one {
  box-sizing: border-box;
  border: 1px solid goldenrod;
  /* background-color: aqua; */
  width: 50%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  align-content: flex-start;
}

.vertical {
  flex-direction: column;
}

.reverse-row {
  flex-direction: row-reverse;
}

.reverse-column {
  flex-direction: column-reverse;
}

.box {
  border: 1px solid blue;
  box-sizing: border-box;
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rerun {
  /* position: absolute; */
  left: 50px;
  top: 0;
  /* transform: translateY(calc(-100% - 1px)); */
}
